* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(173, 94, 247);
}

.box {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box h1 {
  font-size: 4rem;
  color: yellow;
}

.box p {
  font-size: 1.6rem;
}